@charset "UTF-8";

body{
    margin:0;
    font-family:Nunito, serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    background-repeat: repeat;
    background-size: cover;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 35px;
    color: #545454;
}

/*---- Início Formulário -----*/

:root {
    --color-lightest: #f9fdfe;
    --color-gray-light: #cdcfcf;
    --color-gray-medium: #686a69;
    --color-gray-dark: #414643;
    --color-darkest: #2a2f2c;
}

*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

* + * {
    margin-top: 1rem;
}

body {
    background: var(--color-lightest);
    color: var(--color-gray-medium);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    line-height: 1.45;
}

h1,
h2 {
    color: var(--color-darkest);
    font-size: 110%;
    line-height: 1.1;
}

h1 {
    font-size: 125%;
}

.contact-form,
.resultado {
    width: 90vw;
    max-width: 550px;
    margin: 8vh auto;
}

p {
    margin-top: 0.5rem;
    font-size: 87.5%;
}

.resultado pre {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: lightgray;
    border: 1px solid var(--color-gray-light);
    overflow-x: scroll;
}

.contact-form form {
    position: relative;
    display: block;
    margin: 0;
    padding: 1rem 0 2rem;
    border-top: 1px solid var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
    overflow: hidden;
}

.input-group {
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
}

.contact-form label {
    display: block;
    color: gray;
    font-family: Lato, sans-serif;
    font-size: 90%;
    line-height: 1.125;
}

.group-label {
    display: inline-block;
    margin-right: 1rem;
    font-size: 90%;
}

.contact-form label.inline {
    display: inline-block;
    margin-left: 0.25rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
    display: block;
    margin-top: 0.25rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid gray;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    transition: 150ms border-color linear;
}


.contact-form input:focus,
.contact-form input:active {
    border-color: var(--color-gray-medium);
}

.contact-form button {
    display: block;
    margin: 0.5rem 1rem 0;
    padding: 0 1rem 0.125rem;
    background-color: var(--color-gray-medium);
    border: 0;
    color: var(--color-lightest);
    font-family: lato, sans-serif;
    font-size: 100%;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;
    transition: 150ms all linear;
}

.contact-form button:hover,
.contact-form button:active,
.contact-form button:focus {
    background: var(--color-darkest);
    cursor: pointer;
}


ul{
    list-style: none;
}



.tg {
    border-collapse:collapse;
    border-spacing:0;
    align-content: center;
    text-align: center;
    margin-left: 30px;
}

.tg td {
    border-color: #545454;
    border-style:solid;
    border-width:1px;
    font-family:Nunito, serif;
    font-size:14px;
    color: red;
    overflow:hidden;
    padding:20px 10px;

}

.tg th{
    border-color:#545454;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:15px;
    font-weight:normal;
    overflow:hidden;
    padding: 5px 35px;
    word-break:normal;
}


#btn-table{
    position: absolute;
    bottom: -3%;
    left: 54%;
    color: #fff;
    background-color: #24A016;
    font-size: 15px;
    text-align: center;
    width: 10%;
    height: 5%;
    margin-top: 20px;

}

#inp{
    margin-bottom: 60px;
}

